<div class="flex flex-wrap items-center content-center justify-center">
    <div class="flex-1">  
      <h2 class="text-gray-50/90 text-2xl lg:text-5xl">{{location.title}}</h2>
      <div class="flex flex-row mt-5 lg:mt-10 mb-3 lg:mb-5">
        <span class="text-gray-50/90 text-6xl lg:text-8xl">{{currentWeather.temp | number:'1.0-0'}}</span>
        <span class="text-gray-50/90 flex align-top text-4xl">&#176;</span>
      </div>
      <span class="text-gray-50/60 text-xl lg:text-2xl">{{weather.description | titlecase}}</span>
    </div>
    <div class="flex-1 mx-2 lg:mx-5">
      <img [src]="imageURL" class="" alt="Weather Image">
    </div>
</div>